# Database
POSTGRES_DB=waterwheel
POSTGRES_USER=waterwheel
POSTGRES_PASSWORD=waterwheel123
DB_PORT=5432

# MQTT
MQTT_PORT=1883
MQTT_WS_PORT=9001
MQTT_USERNAME=admin
MQTT_PASSWORD=public

# Backend
BACKEND_PORT=8080
EFFICIENCY_ALERT_THRESHOLD=0.8

# Frontend
FRONTEND_PORT=8081

# Simulator
SIM_INTERVAL=300
SIM_MODE=realistic

# Prometheus
PROM_PORT=9090
